#??
server:
  port: 8080
  #session????
  servlet:
    context-path: /api
    session:
      timeout: PT60M

#???
spring:
  #MYSQL??
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:  jdbc:mysql://localhost:3306/chiiiplowpost?useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123456
  #druid??
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 2
      min-idle: 5
      max-active: 20
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      filters: stat

  #Mybatis??
  mybatis:
    mapper-locations: classpath:mappers/*.xml


